# Environment variables (frontend + backend)
.env
.env.*
*.local

# Allow env example files
!.env.example

# Dependencies
node_modules

# Build outputs
dist
dist-ssr
build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
